html{

    box-sizing: border-box;

}

*,
*::before
*::after{

    box-sizing: inherit;

}

a{
    color: inherit;
    text-decoration: none;


}

button{
    padding: 0;
    border: none;
    background-color: transparent;

}

ul{
list-style: none;

}

body{
    line-height: 1.2;
    color:#0001

}


.container{



}

